<%= form_with(model: team, local: true, url: [@league, @team]) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit 'Create', class: 'btn btn-primary' %>

    <% if @team.new_record? %>
      <a href="<%= league_teams_path(@league) %>" role="button" class="btn btn-secondary">Back</a>
    <% else %>
      <a href="<%= league_team_path(@league, @team) %>" role="button" class="btn btn-secondary">Back</a>
    <% end %>
  </div>
<% end %>
