<%= form_with(model: model, url: [@league, @model]) do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :team_id %>
    <% if @model.new_record? %>
      <%= form.select(
        :team_id,
        options_for_select(@league.teams.map{ |t| [t.name, t.id]}),
        { include_blank: true },
        class: 'form-control') %>
    <% else %>
      <%= form.select(
        :team_id,
        options_for_select(@league.teams.map{ |t| [t.name, t.id]}, selected: [@model.team.name, @model.team.id]),
        { include_blank: true },
        class: 'form-control') %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label 'Virtual score (minutes as a decimal)' %>
    <%= form.text_field :virtual_score, class: 'form-control' %>
  </div>

  <% if !model.new_record? %>
    <div class="form-group">
      <%= form.label 'Physical score (minutes as a decimal)' %>
      <%= form.text_field :physical_score, class: 'form-control' %>
    </div>
  <% end %>

  <% if model.new_record? %>
    <div class="form-group">
      <%= form.file_field :package, direct_upload: true, options: { class: 'form-control' } %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update', class: 'btn btn-primary' %>

    <% if @model.new_record? %>
      <a href="<%= league_models_path(@league) %>" button type="button" class="btn btn-secondary">Back</a>
    <% else %>
      <a href="<%= league_model_path(@league, @model) %>" button type="button" class="btn btn-secondary">Back</a>
    <% end %>
<% end %>
