<h1>Models</h1> 
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Virtual score</th>
      <th>Physical score</th>
      <th>Download</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= link_to model.name, league_model_path(@league, model) %></td>
        <td><%= model.team.name %></td>
        <td><%= model.virtual_score %></td>
        <td><%= model.physical_score %></td>
        <td><a href="<%= rails_blob_path(model.package, disposition: 'attachment')%>" button type="button" class="btn btn-secondary">Download </a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_league_model_path %>" button type="button" class="btn btn-primary">Upload Model</a>
