<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @model.team.name %>
</p>

<p>
  <strong>Virtual score:</strong>
  <%= @model.virtual_score %>
</p>

<p>
  <strong>Physical score:</strong>
  <%= @model.physical_score %>
</p>

<a href="<%= edit_league_model_path(@league, @model) %>" button type="button" class="btn btn-primary">Edit</a>
<a href="<%= league_models_path %>" button type="button" class="btn btn-secondary">Back</a>
