<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @model.team.name %>
</p>

<p>
  <strong>Virtual score:</strong>
  <%= @model.virtual_score %>
</p>

<p>
  <strong>Physical score:</strong>
  <%= @model.physical_score %>
</p>

<a href="<%= league_models_path %>" role="button" class="btn btn-secondary">Back</a>
<a href="<%= edit_league_model_path(@league, @model) %>" role="button" class="btn btn-primary">Edit</a>
<a href="<%= rails_blob_path(@model.package, disposition: 'attachment')%>" role="button" class="btn btn-success">Download </a>
